@font-face {
  font-family: "iconfont"; /* Project id 2016720 */
  src: url('iconfont.woff2?t=1745254243648') format('woff2'),
       url('iconfont.woff?t=1745254243648') format('woff'),
       url('iconfont.ttf?t=1745254243648') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconF8523125E92F6969F7377D0C42335F33:before {
  content: "\e600";
}

.icon020-folder:before {
  content: "\e6f2";
}

.iconyanzhengma:before {
  content: "\e613";
}

.iconHalloween-:before {
  content: "\e60a";
}

