name: Build And Deploy

on:
    push:
        branches:
            - main

jobs:
    build_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: setup node and pnpm
              uses: dafnik/setup-node-pnpm@v1
              with:
                  pnpm: 8.15.4
                  node: 18.16.0

            - name: Install dependencies
              run: pnpm install --no-frozen-lockfile

            - name: Generate dist
              run: pnpm run build

            - name: Deploy to Server
              uses: easingthemes/ssh-deploy@main
              with:
                  SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
                  ARGS: "-rlgoDzvc -i --delete"
                  SOURCE: "dist/"
                  REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
                  REMOTE_USER: ${{ secrets.REMOTE_USER }}
                  TARGET: ${{ secrets.REMOTE_TARGET }}
                  EXCLUDE: "/dist/, /node_modules/"
